; copy–paste this file into `secret.ini` and fill the proper values
[secret]

wifi_ssid = CHANGE_ME_TO_THE_REAL_SSID

; Set the username to "" to connect to a normal WPA/WPA2 network
wifi_username = CHANGE_ME_TO_THE_REAL_USERNAME
wifi_password = CHANGE_ME_TO_THE_REAL_WIFI_PASSWORD